 
body{
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-color: #42a1a1
}
p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
      font-family: Palatino, 'Palatino Linotype', serif;
      color: #666666	    
	    
    }
    input[type="submit"] {
      background: #42a1a1;
      color: #666666;
    }  

.hero {
	font-size: 32px;
	font-family: Palatino, 'Palatino Linotype', serif;
    color: #666666
}
 
.hero1 {
	font-size: 26px;
	font-family: Palatino, 'Palatino Linotype', serif; 
    color: #666666
}


