

body{
	color:#414141;
	background:url('Anne Sannella.png') ;
	background-size: auto 25%;
        background-repeat: no-repeat;
	background-position: center;
	
	
}
 
.hero {
	border: 10px;
	padding: 500px;
	font-size: 32px;
	font-family: "Megrim", cursive;
    color: #666666
   	    
}
 
.hero1 {
	text-align: left;
	border: 10px;
	padding: 500px;
	font-size: 26px;
	font-family: "Megrim", cursive; 
        color: #666666
		
	
}
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
      font-family: "Megrim", cursive;
      color: #666666	    
	    
    }
    input[type="submit"] {
      background: #42a1a1;
      color: #666666;
    } 

