

body{
	color:#414141;
	background:url('Anne Sannella.png') ;
	background-size: auto 100%;
        background-repeat: no-repeat;
	background-position: right bottom;
	
	
}
 
.hero {
	font-size: 32px;
	font-family: "Megrim", cursive;
    color: #666666
   	    
}
 
.hero1 {
	text-align: left wrap;
	font-size: 26px;
	font-family: "Megrim", cursive; 
        color: #666666
		
	
}
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
      font-family: "Megrim", cursive;
      color: #666666	    
	    
    }
    input[type="submit"] {
      background: #42a1a1;
      color: #666666;
    } 

